<div class="card my-4">
  <div class="card-header p-0 position-relative mt-n4 mx-3 z-index-2">
    <div class="bg-gradient-primary shadow-primary border-radius-lg pt-4 pb-3">
      <h6 class="text-white text-capitalize ps-3">Change customer</h6>
    </div>
  </div>
<div *ngIf="selectedCustomer$ | async as customer">
  <form action="" #customerEditor="ngForm" (ngSubmit)="onSaveCustomer(customer)">
    <div class="form-group">
      <label for="firstName">First name:</label>
      <input id="firstName" name="firstName" class="form-control" type="text" [(ngModel)]="customer.firstName">
    </div>
    <div class="form-group">
      <label for="lastName">Last name:</label>
      <input id="lastName" name="lastName" class="form-control" type="text" [(ngModel)]="customer.lastName">
    </div>
    <div class="form-group">
      <label for="email">Email:</label>
      <input id="email" name="email" class="form-control" type="text" [(ngModel)]="customer.email">
    </div>
    <div class="line"></div>
  </form>
</div>
<div class="row" *ngIf="selectedAddress$ | async as address">
  <form action="" #addressEditor="ngForm" (ngSubmit)="onSaveAddress(address)">
      <div class="form-group d-flex">
        <label *ngIf="address.zip" for="zip">ZIP:</label>
        <input *ngIf="address.zip" id="zip" name="zip" class="form-control" type="text" [(ngModel)]="address.zip">
        <label for="country">Country:</label>
        <input id="country" placeholder="Pick one"
        aria-label="Number" name="country"
        class="form-control" type="text"
         matInput [matAutocomplete]="auto" [(ngModel)]="address.country">
         <mat-autocomplete #auto="matAutocomplete">
          <mat-option *ngFor="let country of countries" [value]="country.country">
            {{country.country}}
          </mat-option>
        </mat-autocomplete>
        <label for="city">City:</label>
        <input id="city" name="city" class="form-control" type="text" [(ngModel)]="address.city">
      </div>
      <div class="form-group">
        <label for="street">Street:</label>
        <input id="street" name="street" class="form-control" type="text" [(ngModel)]="address.street">
      </div>
      <div class="form-group">
        <label for="notes">Remark:</label>
        <textarea id="notes" rows="3" name="notes" class="form-control" type="text" [(ngModel)]="address.notes"></textarea>
            </div>
  </form>
</div>
    <div class="d-flex">
      <button class="btn btn-success text-capitalize mx-auto" type="submit">
        <i class="fa fa-save"></i> Update customer
      </button>
    </div>
</div>

