<div class="container-fluid py-4">
  <div class="row">
    <div class="col-12">
      <div class="card my-4">
        <div class="card-header p-0 position-relative mt-n4 mx-3 z-index-2">
          <div
            class="bg-gradient-primary shadow-primary border-radius-lg pt-4 pb-3"
          >
            <h6 class="text-white text-capitalize ps-3">Orders</h6>
          </div>
        </div>
        <div class="card-body px-0 pb-2 mx-4 col-6 offset-6">
          <div class="input-group ">
            <input
              [(ngModel)]="filterPhrase"
              type="text"
              class="form-control"
              placeholder="search"
              aria-label="Recipient's "
              aria-describedby="basic-addon2"
            />

          </div>
        </div>
        <div class="card-body px-0 pb-2">
          <div class="text-center">
            <a [routerLink]="'/orders/edit/' + 0" class="btn btn-info w-80">
              Add new product
            </a>
          </div>

          <div class="table-responsive p-0">
            <table
              class="table table-hover table-striped align-items-center mb-0"
            >
              <thead>
                <tr>
                  <th
                    class="text-uppercase text-secondary text-xxs font-weight-bolder opacity-7 ps-2"
                    (click)="startSort(col.key)"
                    *ngFor="let col of cols"
                  >
                    <i
                      [hidden]="col.key !== sortKey && sortDirection === -1"
                      class="fa fa-sort-asc"
                      aria-hidden="true"
                    ></i>
                    <i
                      [hidden]="col.key !== sortKey && sortDirection === 1"
                      class="fa fa-sort-desc"
                      aria-hidden="true"
                    ></i>
                    {{ col.title }}
                  </th>

                  <th></th>
                </tr>
              </thead>
              <tbody
                *ngIf="list$ | async | filter : filterPhrase : 'status' as list"
              >
                <tr
                  *ngFor="
                    let order of list
                      | productsort : sortKey : sortDirection
                      | paginate : { itemsPerPage: 10, currentPage: p }
                  "
                >
                  <!-- <td>
                    {{ order.customer?.firstName }}
                    {{ order.customer?.lastName }}
                  </td> -->
                  <td>
                    <p class="text-xs font-weight-bold mb-0">
                      {{ order.product?.name }}
                    </p>
                  </td>
                  <td>
                    <span class="text-secondary text-xs font-weight-bold">{{
                      order.amount | currency
                    }}</span>
                  </td>
                  <td>
                    <p class="text-xs font-weight-bold mb-0">
                      {{ order.status }}
                    </p>
                  </td>
                  <td>
                    <div class="d-flex btn-group align-items-end">
                      <button
                        (click)="showSuccess()"
                        [routerLink]="['/orders/edit', order.id]"
                        class="btn bg-gradient-success btn-sm"
                      >
                        <i class="fa fa-edit"></i>
                      </button>
                      <button
                        class="btn bg-gradient-primary btn-sm"
                        (click)="onUpdate(order)"
                      >
                        <i class="fa fa-trash"></i>
                      </button>
                    </div>
                  </td>
                </tr>
                <tr class="table__tr--sum">
                  <td *ngFor="let col of cols">
                    {{ col.title }}
                  </td>
                  <td></td>
                </tr>
                <tr>
                  <td>{{ list.length }}</td>
                  <td>{{ "" }}</td>
                  <td>{{ list | sum : "amount" | currency }}</td>
                  <td>{{ "" }}</td>
                  <td></td>
                </tr>
              </tbody>
            </table>
            <div class="position-relative">
              <div class="pg-container shadow-secondary border-radius-lg">
                <div class="d-flex align-content-center justify-content-center">
                  <pagination-controls
                    class="mt-3 my-pagination"
                    (pageChange)="p = $event"
                  ></pagination-controls>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
