table {
  th {
  user-select: none;
  cursor: pointer;
  &:hover {
    color: rgba(255, 0, 0, 0.646);
  }
}
  .table__tr--sum {
    background-color: lightgray;
  }

}

.pg-container {
  background-color: #42424a;
}

.my-pagination {
  color: white;
}

.delete {
  background-color: #ec407a;
}
