#chart {
  max-width: 380px;
  margin: 35px auto;
  padding: 0;
}

.card-footer {
  height: 8rem;
}

.chart {
  &__header {
    height: 16rem;
  }

  &__diagram {
    height: 16rem;
  }

  &__footer {
    height: 9rem;
  }
}


