<div class="container-fluid py-4">
  <div class="row">
    <div class="col-12">
      <div class="card my-4">
        <div class="card-header p-0 position-relative mt-n4 mx-3 z-index-2">
          <div class="bg-gradient-primary shadow-primary border-radius-lg pt-4 pb-3">
            <h6 class="text-white text-capitalize ps-3">Products</h6>
          </div>
        </div>
        <div class="card-body px-0 pb-2">
          <div class="px-3">
            <app-toggle-button
              label="Filter"
              accessorName="productFilter"
              [ownFormControl]="productFilter"
              (checked)="switchFilter($event)"
            ></app-toggle-button>
          </div>
          <div class="px-3 pt-1 pb-3">
            <div *ngIf="showFilter | async" class="border border-primary rounded">
              <form [formGroup]="productListForm" class="product-list__form">
                <div class="product-list__form_input form-group">
                  <label for="name">Name</label>
                  <input id="name" formControlName="name" type="input" class="form-control" minlength="3" maxlength="35">
                  <div *ngIf="productListForm.controls['name'].hasError('minlength')" class="text-danger">
                    Minimum 3 characters
                  </div>
                </div>
                <div class="product-list__form_input form-group">
                  <label for="type">Type</label>
                  <input id="type" formControlName="type" type="input" class="form-control" minlength="3" maxlength="25">
                  <div *ngIf="productListForm.controls['type'].hasError('minlength')" class="text-danger">
                    Minimum 3 characters
                  </div>
                </div>
                <div class="product-list__form_input form-group">
                  <label for="catID">Category</label>
                  <select id="catID" formControlName="catID" class="form-select">
                    <option value="">All selected</option>
                    <option *ngFor="let category of categories | async" [value]="category.id">
                      {{ category.name }}
                    </option>
                  </select>
                </div>
                <div class="product-list__form_input form-group">
                  <label for="description">Description</label>
                  <input id="description" formControlName="description" type="input" class="form-control" minlength="3" maxlength="255">
                  <div *ngIf="productListForm.controls['description'].hasError('minlength')" class="text-danger">
                    Minimum 3 characters
                  </div>
                </div>
                <div class="product-list__form_input form-group">
                  <label for="price">Price from</label>
                  <input
                    id="price"
                    formControlName="priceFrom"
                    type="input"
                    class="form-control"
                    [imask]="priceMask">
                </div>
                <div class="product-list__form_input form-group">
                  <label for="price">Price to</label>
                  <input
                    id="price"
                    formControlName="priceTo"
                    type="input"
                    class="form-control"
                    [imask]="priceMask">
                </div>
                <div class="product-list__form_input form-check p-0">
                  <input id="featured" formControlName="featured" class="form-check-input" type="checkbox" value="">
                  <label class="form-check-label" for="featured">
                    Featured
                  </label>
                </div>
                <div class="product-list__form_input form-check p-0">
                  <input id="active" formControlName="active" class="form-check-input" type="checkbox" value="">
                  <label class="form-check-label" for="active">
                    Active
                  </label>
                </div>
              </form>
              <div class="product-list__filter-btn">
                <button
                  class="btn btn-primary text-capitalize m-0"
                  [disabled]="productListForm.invalid"
                  (click)="filterProducts()"
                >Filter</button>
              </div>
            </div>
          </div>
          <div class="text-center">
            <a [routerLink]="'/product/' + 0" class="btn btn-info w-80">
              Add new product
            </a>
          </div>
          <div class="text-sm text-dark font-weight-bold mb-0 p-3">Total: {{ (products | async)?.length }} products</div>
          <div class="table-responsive p-0">
            <table class="table align-items-center mb-0">
              <thead>
                <tr>
                  <th
                    *ngFor="let col of tableColumns"
                    (click)="startSort(col.key)"
                    class="product-list__table_head text-uppercase text-dark text-xxs font-weight-bolder opacity-7"
                  >
                    <i *ngIf="col.key === sortKey && sortDirection === 1" class="fa fa-sort-amount-asc" aria-hidden="true"></i>
                    <i *ngIf="col.key === sortKey && sortDirection === -1" class="fa fa-sort-amount-desc" aria-hidden="true"></i>
                      {{ col.title }}
                  </th>
                  <th class="text-secondary opacity-7 ps-2"></th>
                </tr>
              </thead>
              <tbody>
                <tr *ngFor="let product of (products | async) | productsort:sortKey:sortDirection | paginate: {itemsPerPage: pageSize, currentPage: p}">
                  <td class="product-list__row_name">
                    <div class="d-flex px-2 py-1">
                      <p class="text-xs text-dark font-weight-bold mb-0">{{ product.name }}</p>
                    </div>
                  </td>
                  <td class="product-list__row_type">
                    <p class="text-xs text-dark mb-0">{{ product.type }}</p>
                  </td>
                  <td class="product-list__row_category">
                    <span class="text-xs text-dark font-weight-bold mb-0">{{ product.category }}</span>
                  </td>
                  <td class="product-list__row_description">
                    <p class="text-xs text-dark mb-0">{{ product.description | shorten }}</p>
                  </td>
                  <td class="product-list__row_price">
                    <p class="text-xs text-dark font-weight-bold mb-0">{{ product.price | currency }}</p>
                  </td>
                  <td class="product-list__row_actions">
                    <div class="btn-group d-flex gap-3 justify-content-center">
                      <a class="text-primary" [routerLink]="['/product', product.id]"><i class="fa fa-pencil fa-lg" aria-hidden="true"></i></a>
                      <a class="text-danger" (click)="onDelete(product.id)"><i class="fa fa-trash-o fa-lg" aria-hidden="true"></i></a>
                    </div>
                  </td>
                </tr>
              </tbody>
            </table>
            <div class="d-flex justify-content-center col-12 mt-4 mx-auto">
              <pagination-controls class="my-pagination" (pageChange)="p = $event" previousLabel="Previous" nextLabel="Next">
              </pagination-controls>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
