.product-list {
  &__form {
    display: flex;
    flex-wrap: wrap;
    gap: 5%;
    padding: 3% 3% 0 3%;

    @media screen and (max-width: 575px) {
      flex-direction: column;
    }

    &_input {
      margin-bottom: 1rem;
      width: calc(90% / 3);

      @media screen and (min-width: 576px) and (max-width: 991px) {
        width: calc(95% / 2);
      }

      @media screen and (max-width: 575px) {
        width: 100%;
      }
    }
  }

  &__filter-btn {
    display: flex;
    justify-content: flex-end;
    padding: 0% 3% 3% 3%;
  }

  &__table_head {
    cursor: pointer;
  }

  &__row {
    &_name {
      width: 20%;
    }

    &_type {
      width: 15%;
    }

    &_category {
      width: 10%;
    }

    &_description {
      width: 30%;
      white-space: unset;
    }

    &_price {
      width: 10%;
    }

    &_actions {
      width: 10%;

      a {
        cursor: pointer;
      }
    }
  }
}
