<div class="card my-4">
  <div class="card-header p-0 position-relative mt-n4 mx-3 z-index-2">
    <div class="bg-gradient-primary shadow-primary border-radius-lg pt-4 pb-3">
      <h6 class="text-white text-capitalize ps-3">Customers table</h6>
    </div>
  </div>
  <div class="card-body px-0 pb-2 text-center ">
    <div class="form-check form-switch d-flex justify-content-start mx-3">
      <input class="form-check-input" type="checkbox" id="filter" (change)="filterable=!filterable">
      <label class="form-check-label" for="filter">Filter</label>
    </div>
    <div class="filterBox border border-primary rounded mb-3 p-4" *ngIf="filterable">
      <div class="form-group d-flex justify-content-center align-items-center">
        <div class="input-group input-group-sm w-50 d-flex align-items-center">
          <label for="search">Keresés</label>
          <input [(ngModel)]="searchPhrase" type="text" id="search" name="search" class="form-control m-2" placeholder="Search for a customer...">
        </div>
        <div class="form-group">
          <select class="form-select form-select-sm"  aria-label="form-select example" [formControl]="selectedOption" >
            <option *ngFor="let option of options" [value]="option.value">{{option.name}}</option>
            <option selected value="all" >Everywhere</option>
          </select>
        </div>
      </div>
    </div>
    <button class="btn btn-info w-80"  [routerLink]="['/customers/edit', 0, 0]">
      Add new customer
    </button>
    <div class="table-responsive p-0">
      <table class="table  align-items-center mb-0">
        <thead>
          <tr>
            <th *ngFor="let col of tableColumns" (click)="startSort(col.key)"
              class="table__head text-center text-uppercase text-secondary text-xxs font-weight-bolder opacity-7">
              <i *ngIf="col.key === sortKey && sortDirection === 1" class="fa fa-sort-amount-asc"
                aria-hidden="true"></i>
              <i *ngIf="col.key === sortKey && sortDirection === -1" class="fa fa-sort-amount-desc"
                aria-hidden="true"></i>
              {{ col.title }}
            </th>
            <th class="text-secondary opacity-7"></th>
          </tr>
        </thead>
        <tbody *ngIf="finalList$ | async">
          <tr
            *ngFor="let customer of customerList$ | async | filter: searchPhrase: selectedFilter | productsort:sortKey:sortDirection | paginate: {itemsPerPage: 50, currentPage: p}">
            <td>
              <div class="d-flex  px-2 py-1">
                <div class="d-flex flex-column justify-content-center">
                  <h6 class="mb-0 text-secondary text-sm">{{customer.firstName }}</h6>
                </div>
              </div>
            </td>
            <td class="align-middle text-center text-sm">
              <div class="d-flex px-2 py-1">
                <p class="text-xs  mb-0">{{ customer.lastName }}</p>
              </div>
            </td>
            <td>
              <p class="text-xs mb-0">{{ customer.email}}</p>
            </td>
            <td class="align-middle text-center text-sm">
              <p class="text-xs font-weight-bold mb-0">{{ customer.address?.country}}, {{ customer.address?.city }} </p>
              <p class="text-xs text-secondary mb-0">{{ customer.address?.street }} Street</p>
            </td>
            <td class="align-middle text-center text-sm">
              <span *ngIf="customer.active" class="badge badge-sm bg-gradient-success">{{customer.active}}</span>
              <span *ngIf="!customer.active" class="badge badge-sm bg-gradient-danger">{{customer.active}}</span>
            </td>
            <td class="align-middle text-center text-sm">
              <p class="text-xs font-weight-bold mb-0" >{{ customer.id }}</p>
            </td>
            <td class="align-middle">
              <div class="btn-group d-flex gap-3">
                <a class="text-primary" [routerLink]="['/customers/edit', customer.id, customer.address?.id]"><i
                    class="fa fa-pencil fa-lg" aria-hidden="true"></i></a>
                <a class="text-danger" (click)="onDelete(customer.id)"> <i class="fa fa-trash-o fa-lg"
                    aria-hidden="true"></i> </a>
              </div>
            </td>
          </tr>
        </tbody>
      </table>
      <div class="d-flex justify-content-center col-12 mt-4 mx-auto">
        <style>
          .my-pagination /deep/ .ngx-pagination .current {
            background: rgb(39, 111, 255);
          }
        </style>
        <pagination-controls class=" my-pagination" (pageChange)="p = $event" previousLabel="Előző" nextLabel="Következő">
        </pagination-controls>
      </div>
    </div>
  </div>
