<div class="card my-4">
  <div class="card-header p-0 position-relative mt-n4 mx-3 z-index-2">
    <div class="bg-gradient-primary shadow-primary border-radius-lg pt-4 pb-3">
      <h6 class="text-white text-capitalize ps-3">Bills</h6>
    </div>
  </div>
  <div class="card-body px-0 pb-2 text-center ">
    <button [routerLink]="['/bills/edit']"  class="btn btn-info w-80">
      New Bill
    </button>
    <div class="table-responsive p-0">
      <table class="table  align-items-center mb-0">
    <thead>
        <tr>
          <th (click)="startSort(col.key)"
          *ngFor="let col of columns">
            <i *ngIf="col.key === sortKey && sortDirection === -1" class="fa fa-sort-amount-desc"></i>
            <i *ngIf="col.key === sortKey && sortDirection === 1" class="fa fa-sort-amount-asc"></i>
            {{ col.title }}
          </th>
          <th></th>
        </tr>
      </thead>

      <tbody *ngIf="billList$ | async as list">
        <tr *ngFor="let row of billList$ | async | productsort:sortKey:sortDirection">
          <td *ngFor="let col of columns">
            {{ row[col.key] }}
          </td>
          <td>
            <div class="btn-group gap-1">
              <button (click)="showSuccess()" [routerLink]="['/bills/edit', row.id]" class="btn btn-info">
                <i class="fa fa-edit"></i>
              </button>


              <div class="btn-group">
              <button (click)="onDelete(row)" class="btn btn-danger"  >
                <i class="fa fa-trash"></i>
              </button>
            </div>

            </div>
          </td>
        </tr>


    <tr class="table__tr--sum">
        <td>{{ '' }}</td>
        <td>{{'' }}</td>
        <td>{{ list | sum:'amount' }}</td>
        <td>{{ '' }}</td>
    </tr>
      </tbody>

    </table>


  </div>
</div>



